keys
 .idea/assetWizardSettings.xml
.idea
*.iml
.idea/dictionaries
.idea/libraries
.idea/tasks.xml
.gradle
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/caches/build_file_checksums.ser
.idea/modules.xml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/build
AppIntro/build
/captures
*.apk
*.dex
*.class
bin/
gen/
local.properties
proguard/
*.log
.idea/misc.xml
routethis-android
github.properties

